<div style="background-color: #EEEEEE;" class="header-container">
  <div class="logo-container">
    <a href="#" (click)="toggleSidebar()" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    </a>
    <!-- <a class="logo" href="#"><img src="assets/images/Logo_progetto.png" width="30%"
      height="30%" /> ISAAC</a> -->
    <a class="logo" style="font-family: sans-serif;"><img class="mix-blend-mode" src="assets/images/LOGO_ISACC-200dpi.jpg" width="110%"
        height="110%" /> ISAAC</a>
  </div>
</div>
