<div class="row">
    <div class="col-md-auto">
      <div class="align-items-end col-md-6 d-flex nop">
        <div class="col-md-auto nop h-100">
          <div class="input-group h-100">
            <div class="input-group-prepend">
              <span class="input-group-text border" style="
            border-radius: .25rem;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          ">Paginazione</span>
              <select class="form-control border border-left-0 h-100 pagginazioneColor"
                (change)="changePaginazione($event.target)" [(ngModel)]="pageSize">
                <option *ngFor="let pag of paginazione" [value]="pag.value">{{pag.label}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-auto">
      <label class="visualiza">Visualizzati {{listPageLength}} di {{allListLength}}</label>
    </div>
  </div>
  