<form action="" [formGroup]="userCreateForm" (ngSubmit)="onCreateUserSubmit()">
  <div class="flex justify-content-center">
    <div class="mt-8 border-0 w-5 h-full shadow-7 m-5" style="border-radius: 20px;">
      <div class="m-4">
        <div class="flex justify-content-center tx-xl m-4 font-medium" style="font-family: sans-serif;">
          <label for="">Create New User</label>
        </div>
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Name</label>
          <div class="col-12 md:col-10">
            <input pInputText formControlName="name" id="firstname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Username</label>
          <div class="col-12 md:col-10">
            <input pInputText formControlName="username" id="lastname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Email</label>
          <div class="col-12 md:col-10">
            <input pInputText formControlName="email" id="firstname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Password</label>
          <div class="col-12 md:col-10">
            <input pInputText formControlName="password" id="lastname4" type="password" class="inputfield w-full">
          </div>
        </div>
        <div class="flex justify-content-center">
          <button pButton type="submit" [disabled]="!userCreateForm.valid" label="Create"></button>
        </div>
      </div>
    </div>
  </div>
</form>


<p-dialog header="User Added" [(visible)]="display">
  New User Added. Go to Manage Users to see the new entry.
</p-dialog>
