<div class="border-0 h-full">


  <div class="flex justify-content-center m-4">
    <div class="flex justify-content-between w-full h-4rem shadow-3" style="border-radius: 20px;">
      <div class="p-text-left text-xl m-3" style="font-family: sans-serif;">View CF Comparison</div>
    </div>
  </div>

  <!-- If we set inputs with width 25rem they are responsive till a certain point. Comments just for reference. -->

  <div class="flex justify-content-center">
    <div class="border-0 w-full h-full shadow-5 m-4" style="border-radius: 20px;">
      <div class="line-height-3">

      <div class="m-4">

      <!--This is another test for aligning elements -->

        <div class="grid m-2">
          <div class="col">
            <label for="" style="font-family: sans-serif;">Declaration Code</label>
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="grid m-2">
          <div class="col">
            <label for="" style="font-family: sans-serif;">Loading List</label>
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="grid m-2">
          <div class="col">
            <label for="" style="font-family: sans-serif;">Total Packages</label>
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="grid m-2">
          <div class="col">
            <label for="" style="font-family: sans-serif;">Country of Departure</label>
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="grid m-2">
          <div class="col">
            <label for="" style="font-family: sans-serif;">Country of Transit</label>
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="grid m-2">
          <div class="col">
            <label for="" style="font-family: sans-serif;">Country of Destination</label>
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="grid m-2">
          <div class="col">
            <label for="" style="font-family: sans-serif;">Place of Loading</label>
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" style="background-color: #FFEEAD;" placeholder="lorem ipsum">
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" style="background-color: #FFEEAD;" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="grid m-2">
          <div class="col">
            <label for="" style="font-family: sans-serif;">Gross Mass (Kg)</label>
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" style="background-color: #FF7272;" placeholder="lorem ipsum">
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" style="background-color: #FF7272;" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="grid m-2">
          <div class="col">
            <label for="" style="font-family: sans-serif;">Net Mass (Kg)</label>
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="grid m-2">
          <div class="col">
            <label for="" style="font-family: sans-serif;">Value</label>
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="grid m-2">
          <div class="col">
            <label for="" style="font-family: sans-serif;">Container No (BIC Code)</label>
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="grid m-2">
          <div class="col">
            <label for="" style="font-family: sans-serif;">Driver Compartment Plate</label>
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" style="background-color: #FF7272;" placeholder="lorem ipsum">
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" style="background-color: #FF7272;" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="grid m-2">
          <div class="col">
            <label for="" style="font-family: sans-serif;">Trailer Plate</label>
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="grid m-2">
          <div class="col">
            <label for="" style="font-family: sans-serif;">Seal Number</label>
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="grid m-2">
          <div class="col">
            <label for="" style="font-family: sans-serif;">Risk Index</label>
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="grid m-2">
          <div class="col">
            <label for="" style="font-family: sans-serif;">Vessel IMO Code</label>
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
          <div class="col">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="grid m-2">
          <div class="col-4">
            <label class="mt-8" for="" style="font-family: sans-serif;">Scanner Images</label>
          </div>
          <div class="col-4">
            <img class="w-12rem" [src]="'assets/images/default.png'" alt="">
            <!-- <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum"> -->
          </div>
          <div class="col">
            <img class="w-12rem" [src]="'assets/images/default.png'" alt="">
            <!-- <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum"> -->
          </div>
          <div class="col">
            <button class="mt-8" style="font-family: sans-serif;" pButton type="button" label="Compare" (click)="showtext()"></button>
          </div>
        </div>

        <!-- <div class="grid m-2">
          <div class="col">
          </div>
          <div class="col">
            <img class="w-12rem" [src]="'assets/images/default.png'" alt="">
          </div>
          <div class="col">
            <img class="w-12rem" [src]="'assets/images/default.png'" alt="">
          </div>
        </div> -->

        <div class="grid m-2">
          <div class="col">
          </div>
          <!-- <div class="col">
            <button class="" style="font-family: sans-serif;" pButton type="button" label="Compare" [routerLink]="['/6']"></button>
          </div> -->
          <div class="col">
            <button class="" style="font-family: sans-serif;" pButton type="button" label="Save" [routerLink]="['/pages/home/comparisonreports']"></button>
          </div>
        </div>

      </div>





      <div class="flex justify-content-center">
        <div class="m-5" *ngIf="showText">
          <p-card style="font-family: sans-serif;">
            <div class="flex justify-content-start">
              <p style="font-family: sans-serif;">Image comparison</p>
            </div>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
            type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining
            essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
            Ipsum.
            <ng-template pTemplate="footer">
              <div class="flex flex-row-reverse flex-wrap">
                <button pButton pRipple type="button" label="Close" class="p-button-outlined p-button-danger" (click)="hideText()"></button>
                <!-- <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text" (click)="hideText()"></button> -->
              </div>
            </ng-template>
          </p-card>
        </div>
      </div>


        <!-- <p class="flex justify-content-center" *ngIf="showText">

        </p> -->


    </div>
  </div>



</div>


<div class="m-2"></div>


<router-outlet></router-outlet>
